# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.idea
node_modules
db
dist
# dotenv environment variable files
.env*
dekick*.log
testing.ts
# yarn

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn-integrity
yarn-lock

#settings files
.package-lock.json
/cypress/.babelrc
cypress/.babelrc
.yarn.lock

#local run screenshots and recordings
/cypress/screenshots
/cypress/videos
cypress/screenshots
cypress/videos
